body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px;
}

.container {
    border: 2px solid black;
    height: 600px;
    width: 600px;
    display: flex;
}

.square-col {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.square {
    border: 1px solid black;
    flex: 1 1 auto;
}